body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
  cursor: default; 
  margin: 0;
}

.line-path {
	fill: none;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
  mix-blend-mode: multiply;
  
}

#histogram_container {
  margin-left: 20px;
}

#linechart_container text {
  font-family: sans-serif;
}

#linechart_container.tick text {
  font-size: 1.5rem;
  fill: #242424;
}

#linechart_container .tick line {
  stroke: #242424;
}

#linechart_container text.axis-label {
  font-size: 11px;
  fill: #242424;
}

#linechart_container text.title {
  font-size: 18px;
  fill: black;
  margin-left: 30px;

}

#linechart_container.label {
  font-size: 1.0em;
  fill: none;
}

#linechart_container path.line-path:hover {
  fill: none;
  stroke-width: 3;
  color: black;
}

#linechart_container.tick {
  cursor: pointer;
}

#linechart_container rect.overlay {
  fill: none;
	pointer-events: all;
}

.heatmap_container {
  display: inline-block;
  width: 600px;
  height: 900px;
}

.heatmapSelected {
stroke:#AFC52F;
stroke-width: 3;
}

.heatmapSelected2 {
stroke:#ff6600;
stroke-width: 3;
}

.radarSelected {
  color: #ffff00;
stroke:#000000;
stroke-width: 1;
}

.radarSelected2 {
stroke:#000000;
stroke-width: 1;
}

.legend {
font-family: sans-serif;
fill: #242424;
}

.topbar {
background-color: #bdbdbd;
width: 100%;
height: 70px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topbar h1 {
float: left;
  margin: 20px;
margin-left: 30px;
}

.topbar button {
float: left;
height: 27.5px;
width: 50px;
text-align: center;
  margin: 20px;
}

.topbarLegend {
float: right;
margin: 25px;
margin-left: 0;
}

#p1 {
font-size: 18px;
text-align: center;
margin-top: 0;
}

#p2 {
font-size: 18px;
text-align: center;
margin-top: 0;
margin-right: 30px;
}

#p3 {
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  }

.topbarLegend2 {
float: right;
margin: 25px;
margin-left: 0;
margin-right: 30px;
}

.topbarLegendBox {
float: right;
margin: 20px;
background-color: #AFC52F;
width: 30px;
height: 30px;
}

.topbarLegendBox2 {
float: right;
margin: 20px;
background-color: #ff6600;
width: 30px;
height: 30px;
}

.selectedWeekday {
  float: right;
  margin: 25px;
  margin-right: 10px;
}

.removeWeekday {
  float: right;
  margin-top: 22px;
  margin-right: 30px;
}