body {
  margin: 0px;

}

.line-path {
	fill: none;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
  mix-blend-mode: multiply;
  
}

#linechart_container text {
  font-family: sans-serif;
}

#linechart_container.tick text {
  font-size: 1.5rem;
  fill: #242424;
}

#linechart_container .tick line {
  stroke: #242424;
}

#linechart_container text.axis-label {
  font-size: 11px;
  fill: #242424;
}

#linechart_container text.title {
  font-size: 1.8em;
  fill: #242424;
  margin-left: 30px;

}

#linechart_container.label {
  font-size: 1.0em;
  fill: none;
}

#linechart_container path.line-path:hover {
  fill: none;
  stroke-width: 2.3;
  color: black;
}

#linechart_container.tick {
  cursor: pointer;
}

#linechart_container rect.overlay {
  fill: none;
	pointer-events: all;
}